{% extends "./components/b_base.html" %}
{% load static %}

{% block content %}
<section style="padding: 1.5rem;">
    <h1 style="font-size: 2.5rem; font-weight: 700; text-align: center; color: #333; margin-bottom: 1rem;">Our Commitment to Your Privacy</h1>
    <p style="font-size: 1.125rem; text-align: center; color: #666; margin-bottom: 1rem;">At GoodCo AI Job Applications, we value your privacy and strive to protect your personal information.</p>
    <p style="font-size: 1.125rem; text-align: center; color: #666; margin-bottom: 1rem;">We only collect necessary personal data with your consent, and we do not share it with third parties.</p>
    <p style="font-size: 1.125rem; text-align: center; color: #666; margin-bottom: 1rem;">We use cookies to enhance your browsing experience and to provide our services, not to track your activities or sell your data.</p>
    <p style="font-size: 1.125rem; text-align: center; color: #666;">If you have any concerns about privacy, please contact us. We're here to help.</p>
</section>
{% endblock content %}
