{% extends "./components/b_base.html" %}
{% load static %}

{% block content %}
<section style="padding: 1.5rem;">
    <h1 style="font-size: 2.5rem; font-weight: 700; text-align: center; color: #333; margin-bottom: 1rem;">Our Commitment to Your Privacy in AI-Powered Job Applications</h1>
    <p style="font-size: 1.125rem; text-align: center; color: #666; margin-bottom: 1rem;">At GoodCo, we understand the importance of privacy in the job application process. Our AI-driven system is designed with your privacy as a top priority.</p>
    <p style="font-size: 1.125rem; text-align: center; color: #666; margin-bottom: 1rem;">We ensure that all personal data collected during the application process is used solely for the purpose of seeking correlation between mental health and company information. Your information is never shared with third parties without your explicit consent.</p>
    <p style="font-size: 1.125rem; text-align: center; color: #666; margin-bottom: 1rem;">Our platform uses advanced security measures to protect your data, and we strictly adhere to privacy laws and regulations to safeguard your personal information.</p>
    <p style="font-size: 1.125rem; text-align: center; color: #666;">Should you have any queries or concerns regarding how your data is handled, feel free to reach out to us. Your trust and safety are paramount to us.</p>
</section>
{% endblock content %}
