{% extends "./components/g_base.html" %}

{% load static %}

{% block content %}
<section class="main-content px-6 py-4">
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-4">Our Commitment to Your Privacy</h1>
    <p class="text-lg text-center text-gray-600 mb-2">At GoodCo AI Job Applications, we value your privacy and strive to protect your personal information.</p>
    <p class="text-lg text-center text-gray-600 mb-2">We only collect necessary personal data with your consent, and we do not share it with third parties.</p>
    <p class="text-lg text-center text-gray-600 mb-2">We use cookies to enhance your browsing experience and to provide our services, not to track your activities or sell your data.</p>
    <p class="text-lg text-center text-gray-600">If you have any concerns about privacy, please contact us. We're here to help.</p>
</section>

{% endblock content %}