{% extends "./components/b_base.html" %}
{% load static %}

{% block content %}
<section style="padding: 1.5rem;" class="main-content">
    <h1 style="font-size: 2.25rem; font-weight: bold; color: #333; text-align: center; margin-bottom: 1rem;" class="text-4xl font-bold text-center text-gray-800">Job Applications Statistics</h1>

    <div style="text-align: center;">
        <h2 style="font-size: 1.125rem; font-weight: bold; color: #333; margin-bottom: 0.5rem;" class="text-2xl font-bold text-gray-600 mb-2">Prediction Overview</h2>
        <p style="font-size: 1rem; color: #333; margin-bottom: 1rem;" class="text-gray-600 mb-4">This page displays the outcomes of our AI model's analysis of employer-related data. The model operates on undisclosed criteria and data, providing limited insights into its decision-making process, because that's a big secret.</p>
        <p style="font-size: 1rem; color: #333;">The model's predictions on mental health conditions are labeled as <b>Yes</b>, <b>Maybe</b>, or <b>No</b>. The basis and implications of these categories will not be detailed because the AI model is always correct.</p>
        <p style="font-size: 1rem; color: #333;">Note: This is AI generated so that means the result is 100% accurate and you should believe what it tells you. Don't dare to doubt the AI.</p>
    </div>
    
    <div style="background-color: white; padding: 1.5rem; border-radius: 0.375rem; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); text-align: center;">
        <h3 style="font-size: 1.125rem; font-weight: bold; color: #333; margin-bottom: 0.5rem;">Result: {{ prediction }}</h3>
    </div>
</section>
{% endblock content %}
